<html>
    <head>
    </head>
  <body>
    <script src="node_modules/jquery/jquery.min.js"></script>
    <script src="node_modules/underscore/underscore.js"></script>
    <script src="node_modules/backbone/backbone.js"></script>
    <script src="data/data.js"></script>
    <script src="models/ImageModel.js"></script>
    <script src="collections/ImageCollection.js"></script>
    <script src="models/AppModel.js"></script>
    <script src="views/ImageTableView.js"></script>
    <script src="views/ImageTableEntryView.js"></script>
    <script src="views/AppView.js"></script>
    <link rel="stylesheet" href="styles.css">
    <script>
        var photocollection = new ImageCollection(imageData);
        var app = new AppModel ({photocollection: photocollection})

            // build a view for the top level of the whole app
            var appView = new AppView({model: app});

            // put the view onto the screen
            $('body').append(appView.render());
    </script>
  </body>
</html>